body {
  background: #4ECDC4;
  margin-top: 100px;
}

h1 {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font: 'Lato', Arial;
  font-size: 50px;
  font-weight: 400;
}

p {
  color: #ffffff;
  text-align: center;
  font: 'Lato', Arial;
  font-size: 15px;
}

.col-md-12 {
  position: relative;
  padding-top: 50px;
}

#player1 {
  position: relative;
}

#player2 {
  position: relative;
}
