body {
  background: #4ECDC4;
  margin-top: 100px;
}

h1 {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font: 'Lato', Arial;
  font-size: 50px;
}

p {
  color: #ffffff;
  text-align: center;
  font: 'Lato', Arial;
  font-size: 20px;
}

.col-md-12 {
  background: #C7F464;
  border: 20px;
  border-style: dashed;
  border-color: yellow;
  position: relative;
}

.container {
  background: red;
  border: 20px;
  border-style: dashed;
}

#player1 {
  position: relative;
}

#player2 {
  position: relative;
}

.reset-button {
  background: green;
  text-align: center;
}

.btn {
  padding: 24px 50px;
}
